<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOlWWtrDPBrVGL7hTrOu9tFxe2d9ljkKE&callback=initMap" async defer></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link href="http://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="crafts.js"></script>
        <script type="text/javascript" src="rater.js"></script>
        <script type="text/javascript" src="map.js"></script>
        <link rel="stylesheet" type="text/css" href="capstone.css">
    </head>
    <body>
        <a name="home"></a>
            <div class="hero-img1">
                <nav>
                        <ul>
                            <li>
                                <a href="#home">Home</a>
                            </li>
                            <li>
                                <a href="#aboutus">About</a>
                            </li>
                            <li>
                                <a href="#crafts">Crafts</a>
                            </li>
                            <li>
                                <a href="#review">Review</a>
                            </li>
                        </ul>
                </nav>
                <section class="home">
                        <div class="hometitle">Original Craft Beer Shoppe</div>
                        <div id="homeCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#homeCarousel" data-slide-to="1"></li>
                                <li data-target="#homeCarousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="carouselimages/image1.jpg">
                                    <div class="carousel-caption">
                                        <div>Welcome</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="carouselimages/image2.jpg">
                                    <div class="carousel-caption">
                                        <div>Beer of the Month</div>
                                        <div>Revolution Brewing - Fistmas Holiday Ale</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="carouselimages/image3.jpg">
                                    <div class="carousel-caption">
                                        <div>Brewery Showcase</div>
                                        <div>Half Acre Beer Company</div>
                                    </div>
                                </div>
                            </div>
                            <b class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </b>
                            <b class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </b>
                    </div>
                </section>
            </div>
        <a name="aboutus"></a>
            <div class="hero-img4">
                <section class="aboutus">
                    <div class="aboutustitle">About Us
                        <div class="aboutuscontainer">    
                        <div class="aboutusbody">Original Craft Beer Shoppe endlessly endeavors to create the The Ultimate Beer Experience. We are striving to create a place where beer drinkers can experience the stories and beers from their favorite breweries. We also hope our space will encourage people to come together and enjoy the social and relaxed atmosphere that beer naturally creates.
                            As a specialty retail beer store, Original Craft Beer Shoppe focuses on selling the best selection of American Craft and International beer.</div>
                            <div id="map"></div>
                        </div>
                    </div>
                </section>
            </div>
        <a name="crafts"></a>
            <div class="hero-img2">
                <div class=craftstitle>Crafts</div>
                <section class="craftscontainer">
                <div class="crafts" ng-app="store">
                    <div ng-controller="StoreController as library">
                        <div ng-repeat="product in library.product">
                        <div class="clearfix" ng-if="$index % 3 == 0"></div>
                            <div class="col-sm-4 craftsbox">
                                <div class="craftsimage">
                                    <img ng-src="{{product.images[0].full}}">
                                    <div class=craftscaption>
                                        <div class="craftsname"> {{product.name}} </div>
                                        <div class="brewery"> {{product.brewery}} </div>
                                        <div> {{product.description}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                </section>
            </div>
        <a name="review"></a>
            <div class="hero-img3">
                <section class="review">
                    <div class="formtitle">Rate Your Beer</div>
                        <form>
                            <div class="cont">
                              <div class="stars">
                                <div action="">
                                  <input class="star star-5" id="star-5-2" type="radio" name="star"/>
                                  <label class="star star-5" for="star-5-2"></label>
                                  <input class="star star-4" id="star-4-2" type="radio" name="star"/>
                                  <label class="star star-4" for="star-4-2"></label>
                                  <input class="star star-3" id="star-3-2" type="radio" name="star"/>
                                  <label class="star star-3" for="star-3-2"></label>
                                  <input class="star star-2" id="star-2-2" type="radio" name="star"/>
                                  <label class="star star-2" for="star-2-2"></label>
                                  <input class="star star-1" id="star-1-2" type="radio" name="star"/>
                                  <label class="star star-1" for="star-1-2"></label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                                <input type="Name" class="form-control" id="name" placeholder="First Name, Last Initial">
                            </div>
                            <div class="form-group">
                                <input type="brewery" class="form-control" id="brewery" placeholder="Brewery">
                            </div>
                            <div class="form-group">
                                <input type="product" class="form-control" id="product" placeholder="Product">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="commenttext" rows="3" placeholder="Add Comments"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                </section>
            </div>
    </body>
</html>