<html>
    <head>
        <link rel="stylesheet" type="text/css" href="capstone.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script   src="http://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>  
        <script type="text/javascript" src="v2.2.0/jquery.rateyo.js"></script>
        <script type="text/javascript" src="v2.2.0/rater.js"></script>
        <link rel="stylesheet" href="v2.2.0/jquery.rateyo.css">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOlWWtrDPBrVGL7hTrOu9tFxe2d9ljkKE&callback=initMap" async defer></script>
        <script src="map.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script type="text/javascript" src="crafts.js"></script>
        <script type="text/javascript" src="scrollbar.js"></script>
    </head>
    <body>
        <a name="home"></a>
            <div class="hero-img1">
                <nav>
                        <ul>
                            <li>
                                <a href="#home">Home</a>
                            </li>
                            <li>
                                <a href="#aboutus">About</a>
                            </li>
                            <li>
                                <a href="#crafts">Crafts</a>
                            </li>
                            <li>
                                <a href="#review">Review</a>
                            </li>
                        </ul>
                </nav>
                <section class="home">
                    <div class="containercarousel">
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel" data-slide-to="1"></li>
                                <li data-target="#carousel" data-slide-to="2"></li>
                                <li data-target="#carousel" data-slide-to="3"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="1.png" alt="text"></div>
                                <div class="item">
                                    <img src="2.jpg" alt="text"></div>
                                <div class="item">
                                    <img src="3.jpg" alt="text"></div>
                                <div class="item">
                                    <img src="4.jpg" alt="text"></div>
                            </div>    
                        </div>
                    </div>
                </section>
            </div>
        <a name="aboutus"></a>
            <div class="hero-img4">
                <section class="aboutus">
                    <div class="aboutuscontainer">    
                        <div class="aboutustitle">About Us
                            <div class="aboutusbody">Original Craft Beer Shoppe endlessly endeavors to create the The Ultimate Beer Experience. We are striving to create a place where beer drinkers can experience the stories and beers from their favorite breweries. We also hope our space will encourage people to come together and enjoy the social and relaxed atmosphere that beer naturally creates.
                            As a specialty retail beer store, Original Craft Beer Shoppe focuses on selling the best selection of American Craft and International beer.</div>
                            <div id="map"></div>
                        </div>
                    </div>
                </section>
            </div>
        <a name="crafts"></a>
            <div class="hero-img2">
                <div class=craftstitle>Crafts</div>
                <section class="craftscontainer">
                <div class="crafts" ng-app="store">
                    <div ng-controller="StoreController as library">
                            <div ng-repeat="product in library.product">
                                <div class="clearfix" ng-if="$index % 3 == 0"></div>
                                    <div class="col-sm-4 craftsbox">
                                        <div> {{product.name}} </div>
                                        <div> {{product.price | currency}} </div>
                                        <div> {{product.description}} </div>
                                        <img ng-src="{{product.images[0].full}}">
                                </div>
                            </div>
                    </div>    
                </div>
                </section>
            </div>
        <a name="review"></a>
            <div class="hero-img3">
                <section class="review">
                    <div class="reviewcontainer">
                        <form>
                            <div class="formtitle">Rate Your Beer</div>
                                <div class="stars">
                                    <div id="rateYo"></div>
                                </div>
                            <br>
                            <div class="form-group">
                                <input type="Name" class="form-control" id="name" placeholder="First Name, Last Initial">
                            </div>
                            <div class="form-group">
                                <input type="brewery" class="form-control" id="brewery" placeholder="Brewery">
                            </div>
                            <div class="form-group">
                                <input type="product" class="form-control" id="product" placeholder="Product">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="commenttext" rows="3" placeholder="Add Comments"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </section>
            </div>
    </body>
</html>